body{
    padding: 0;
    background-color:beige;
    
    
}

h1,h2,p{
    margin: 0;
    text-align:center;
    margin:auto;
    width:50px;
    padding:10px;

}
h2{
    padding:2em;
    text-align:left;
    color:brown;
    margin-left: 1em;
}